services:
  runner:
    image: {{ forgejo_runner_image }}
    container_name: forgejo-runner
    entrypoint: ["/bin/forgejo-runner", "daemon"]
    restart: always
    user: "1000:1000"
    environment:
      - FORGEJO_INSTANCE_URL={{ forgejo_runner_url }}
      - DOCKER_HOST=tcp://docker-in-docker:2375
    volumes:
      - {{ forgejo_runner_data_dir }}:/data
    depends_on:
      - docker-in-docker

  docker-in-docker:
    image: docker:dind
    container_name: forgejo-runner-dind
    restart: always
    privileged: true
    environment:
      - DOCKER_TLS_CERTDIR=
    volumes:
      - {{ forgejo_runner_data_dir }}/dind:/var/lib/docker
